html {
  overflow-x: hidden;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  background-color: rgb(204, 19, 19);
}
.navbar {
  font-family: 'Olympic Sans', sans-serif;
}
.navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Impact", serif;
  font-weight: 600;
  color: #242424;
  letter-spacing: -0.01em;
  font-kerning: normal;
  font-size: 2rem;
  line-height: 1;
}
.position-relative {
  position: relative;
}
/* Diagonal Slant */
.diagonal-slant {
  position: absolute;
  bottom: -470px;
 /* This will bring it closer to the next section */
  left: 0;
  width: 100%;
  height: 400px;
  background: #efefef;
  transform: skewY(-5deg);
  transform-origin: bottom left;
}

